{
  "presets": [
    "/usr/lib/node_modules/@babel/preset-flow",
    [
      "/usr/lib/node_modules/@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ]
}
